<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Cerveceria Chapultepec</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

</head>
<body >
    
    <div id="app">

        <div class="video-container">
            <video autoplay loop muted="muted">
                <source src="/media/ccBackground.mp4" type="video/mp4">
            </video>
        </div>

        <div class="fScreen textCenter flexCenter">

            <div class="logopbg"></div>

            <div class="menubox overflowA">
                <p class="Menutitle">{{menuTitle}}</p>

                <div class="menu1">
                    <div class="w45 h95 glass flexCenter btn1 1a" @click ="choosedType(1)">
                        <i class="fas fa-cocktail"></i>
                        <p>Bebidas</p>
                    </div>
                    <div class="w45 h95 glass flexCenter btn1 1b" @click ="choosedType(2)">
                        <i class="fas fa-utensils"></i>
                        <p>Platillos</p>
                    </div>
                </div>

                <div class="menu2">
                    <div class="conten glass2 pointer " v-for="(type, index) in types" v-if="type.tipo == typeSelected" @click="typePCard(type.nombreTipo)">
                        <p>{{type.nombreTipo}}</p>
                    </div>
                </div>

                <div class="menu3 glass ocultar overflowA">
                    <div v-for ="(producto, index) in productos" v-if="producto.nombreTipo == productSelected">
                        <p>{{producto.nombre}}</p>
                    </div>
                </div>

            </div>

            <div class="userMenu fScreen">

                <p>Mi Carta</p>

                <div class="userMenuBox">
                    <div class="orderNumBox fScreen2">
                        <p>Número de Orden</p>
                        <div class="fScreen2 flexCenter overflowA">
                            <div v-for="(orderNum, index) in orderNums" :class="[index % 2 == 0 ? 'orange' : 'white']" class="num">
                                <p style="margin: 0; padding: 0 1.2rem;">{{index + 1}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="Order ocultar">
                        <p>Pedido</p>
                    </div>

                </div>

                <p class="sText PYCb 1">Terminos y Condiciones</p>
            </div>

            <div class="PYC ocultar">
                <p>
                    Esta aplicación no tiene validez así como la información contenida 
                    en ella, es una herramienta para nuestros clientes, la información 
                    y contenido dentro de esta aplicación es editable y no tienen ningún 
                    valor.
                </p>
                <div class="windowBTN2">
                    <i class="fas fa-times PYCb"></i>
                </div>
            </div>

            <div class="bar">
                <div class="barLe backbtn textCenter">
                    <i class="fas fa-arrow-left"></i>
                </div>
                <div class="barRi CardMenu textCenter">
                    <i class="fas fa-address-book"></i>
                </div>
            </div>
            
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <script src="/js/jQuery.js"></script>
    <script src="/js/system.js"></script>
    <script src="/js/app.js"></script>
    
</body>
</html>