<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Cerveceria Chapultepec</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

</head>
<body >
    
    <div id="app">

        <div class="video-container">
            <video autoplay loop muted="muted">
                <source src="/media/ccBackground.mp4" type="video/mp4">
            </video>
        </div>

        <div class="fScreen textCenter flexCenter">

            <div class="logopbg"></div>

            <div class="menubox overflowA">
                <p class="Menutitle">{{menuTitle}}</p>

                <div class="menu1">
                    <div class="w45 h95 glass flexCenter btn1 1a" @click ="choosedType(1)">
                        <i class="fas fa-cocktail"></i>
                        <p>Bebidas</p>
                    </div>
                    <div class="w45 h95 glass flexCenter btn1 1b" @click ="choosedType(2)">
                        <i class="fas fa-utensils"></i>
                        <p>Platillos</p>
                    </div>
                </div>

                <div class="menu2 ocultar">
                    <div style="z-index: 500;" class="content glass2 pointer btn2" v-for="(type, index) in types" v-if="type.tipo == typeSelected">
                        <p>{{type.nombreTipo}}</p>
                    </div>
                </div>

                <div class="menu3 glass ocultar">
                    <div v-for ="(producto, index) in productos">
                        <p>{{producto.nombre}}</p>
                    </div>
                </div>

            </div>

            <div class="bar">
                <i class="fas fa-arrow-left backbtn"></i>
            </div>
            
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <script src="/js/jQuery.js"></script>

    <script src="/js/system.js"></script>
    <script src="/js/app.js"></script>
    
</body>
</html>